//--------------------------------------------
// Menu Toggle
// @see js/components/_mobile-menu.js
//--------------------------------------------
.u-menu-toggle{
  z-index: $z-menu-toggle;
  position: relative;
  height: 1.25em;
  width: 2em;
  display: inline-block;
  padding: 0.5em 0;
  align-self: center;
  cursor: pointer;

  &__bars {
    transition: background-color 0.4s ease, transform 0.4s ease;
    transform: rotate(0);

    &, &:after, &:before {
      position: absolute;
      width: 100%;
      height: 1px;
      background: $color-grey-dark;
    }

    &:after, &:before {
      content: '';
      display: block;
      transition: all 0.4s ease-in-out;
    }

    &:before {
      top: -7px;
    }

    &:after {
      top: 7px;
      width: 60%;
    }

    &:hover {
      cursor:pointer;
    }
    &:hover:after {
      width: 100%;
    }

    // Menu Toggle - Open State
    .menu-is-open:not(.menu-is-closing) &, .menu-is-opening & {
      background: transparent !important;
      transition: background-color 0.4s ease, transform 0.4s ease;
      transform: rotate(180deg);

      &:after, &:before {
        top: 0 !important;
        zoom: 1;
        width: 100%;
      }
      &:after {
        transform: rotate(45deg);
      }
      &:before {
        transform: rotate(-45deg);
      }
    }
  }
}
