//----------------------------------------------
//  font-rwd
//  Change font-size across breaks
//  @param: $font_sm  - at small
//  @param: $font_med - at med break
//  @param: $font_lg  - at Large break
//  @param: $font_xl  - at Xlarge break
//----------------------------------------------
@mixin font-rwd($sm:null, $med:null, $lg:null, $xl:null, $xxl:null) {
  font-size: $sm;

  @if $med {
    @media(min-width: $mq-med){
      font-size: $med;
    }
  }

  @if $lg {
    @media(min-width: $mq-lg){
      font-size: $lg;
    }
  }

  @if $xl {
    @media(min-width: $mq-xl){
      font-size: $xl;
    }
  }

  @if $xxl {
    @media(min-width: $mq-xxl){
      font-size: $xxl;
    }
  }
}


//----------------------------------------------
//  Font Title
//  Extend/Util for consistent Title Styles
//----------------------------------------------

%font-title-page {
  display: block;
  margin-bottom: $pad-xs/2;
  color: $color-grey-dark;
  @include font-rwd($font-lg, $font-xl);
}

%font-title-lg,
.font-title-lg{
  @include font-rwd($font-xl, $font-xxl);
}

%font-title,
.font-title{
  @extend %font-h2;
}

%font-subtitle {
  @extend %font-h3;
  font-weight: 200;
}

%font-heading {
  font-size: $font-med;
  font-weight: 700;
}

%font-title-sm,
.font-title-sm {
  font-family: $font-paragraph;
  font-weight: 400;
}

//----------------------------------------------
//  Font Title
//  Extend/Util for consistent Link Styles
//----------------------------------------------
%font-links{
  font-family: $font-paragraph;
  font-weight: 400;
  font-size: $font-xs;
  font-style: italic;
  letter-spacing: 0.1em;
}
