//----------------------------------------------
//  Brands / Logos Section
//----------------------------------------------
.brands {

  &__grid {
    @include flex-grid(1,2,3, $pad:1em);;
  }
}

.brand {
  img {
    display: block;
    max-width: 14em;
    margin: 0 auto;
  }
}
