.feeds {
  &__grid {
    @include flex-grid(1, 2,$pad:$pad-col);
  }
}

.feed {

  &__link {
    display: block;
  }

  &__figure {
    height: 100%;
    width: 100%;
    margin-bottom: $pad-xs;
    border-radius: $base-border-radius;
    transform: scale(1);
    transition: transform .3s ease-in-out;
    overflow: hidden;

    .feed__link:hover &, a:hover &{
      transform: scale(.97);
    }
  }

  &__scaler {
    display: block;
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: transform .3s ease-in-out;
    border-radius: $base-border-radius;

    .feed__link:hover &, a:hover &{
      transform: scale(1.1);
      transition: transform .3s ease-in-out;
    }
  }

  &__img {
    display: block;
    border-radius: $base-border-radius;
  }

  &__title {
    @extend %font-heading;
  }
}
