//----------------------------------------------
//  Mastheades
//----------------------------------------------
.mast{
  position: relative;
  display:flex;
  align-items:center;
  width: 100%;
  height: 32em;
  max-height: 75vh;
  margin: 0 auto;

  @media (min-width: $mq-med){
    display: flex;
    align-items: center;
  }

  &__bg {
    @include bg-img-abs();
    animation: fade-in 1s 0.5s ease both;
  }

  &__content {
    z-index: $z-content;
    position: relative;
  }

  &__headline {
    margin: 0 0 $pad-xs;
    @extend %no-breaks-med;
    //max-width: 75%;
    @include font-rwd($font-lg, $font-xxl);
    @media (min-width: $mq-med) {
      max-width: 60%
    }
  }

  &__title {
    color: currentColor;
  }


  &__title,  &__subtitle{
    //@include font-rwd($font-xl, $font-xxl );
  }
}

//----------------------------------------------
//  Mast -- Centered
//----------------------------------------------
.mast.-center {
  text-align: center;
  justify-content: center;
}

//----------------------------------------------
//  Mast -- Has Background Videos
//----------------------------------------------
.mast.-has-vid {
  color: $color-white;

  a {
    color: $color-white;
  }

  .btn-play {
    margin-bottom: $pad-sm;
  }

  .mast__title {
    margin-bottom: 0.5em;
  }
  .mast__bg, .mast__bg-vid {
    @include bg-overlay($color-grey-dark, 0.4);
  }
}

//----------------------------------------------
//  Mast -- Framed
//----------------------------------------------
.mast.-framed{
  display: flex;
  padding: $pad-xl 0 $pad-xs;
  text-align: left;
  max-width: 100%;
  color: $color-white;

  @media (min-width: $mq-med) {
    max-width: $grid-max-width-xl;
  }

  &:after {
    @media (min-width: $mq-med) {
      border-radius: $base-border-radius;
    }
  }

  * {
    color: $color-white;
  }

  .mast__pretitle {
    display: block;
    margin-bottom: $pad-sm;
    font-size: $font-base;
    font-family: $font-paragraph;
    font-weight: 400;
  }

  .mast__title {
    max-width: 17em;
    @extend %font-title-lg;

    span {
      @media (min-width: $mq-med) {
        display: block;
      }
    }
  }

  .mast__bg, .mast__bg-vid {
    @include bg-overlay($color-grey-dark, 0.4);
    @media (min-width: $mq-med) {
      border-radius: $base-border-radius;
    }
  }
}
