//----------------------------------------------
//  Photos Grid
//  @requires (mixin) col-grid - a multi column grid mixin
//  @see      scss/tools/_grids.scss
//-----------------------------------------------

.photos{
  padding: 0 0 $pad-xl;

  @media (min-width: $mq-med){
    padding: $pad-sm 0 $pad-xl;
  }

  &__grid{
    @media (min-width: $mq-med){
      @include col-grid(1,2, $gap: 1.5em, $pad: 1.5em);
    }

    & > * {
      margin-bottom: $pad;
      opacity: 0;
      transition: opacity 1.25s ease;
      @include nth-trans-delay(10, 0.15s);

      .is-loaded & {
        opacity: 1;
      }
      .is-exiting & {
        opacity: 0;
      }
    }
  }
}

//----------------------------------------------
//  Single Photos
//-----------------------------------------------
.photo{

  &__link{
    display: block;
    transition: transform 1s;
    //transform: translate3d(0,20%,0);

    &.is-inview {
      pointer-events:auto;
      transform: translate3d(0,0%,0);
      transition: transform 1s;
      animation: fade-up 1s ease both;
    }
  }

  &__title{
    font-size: $font-med;
  }

  &__figure{
    margin-bottom: $pad-sm/2;
    transform: scale(1);
    transition: transform .3s ease-in-out;
    overflow: hidden;
    border-radius: $base-border-radius;

    .photo__link:hover &, a:hover &{
      transform: scale(.97);
    }
  }

  &__scaler {
    display: block;


    .js-inview &{
      transform: scale(1.5);
      transition: transform 1s;
      pointer-events: none;
      visibility: hidden;
    }

    .js-inview.is-inview &{
      pointer-events:auto;
      visibility: visible;
      transform: scale(1);
      animation: scale-down 1s ease both;
    }
  }

  &__img {
    display: block;
    border-radius: $base-border-radius;
    transform: scale(1);
    transition: transform .3s ease-in-out;
    //transition: transform 1s;
    //@include img-crisper;

    .photo__link:hover &{
      transform: scale(1.1) !important;
      transition: transform .3s ease-in-out;
    }
  }

  &__icon{
    color: $color-alpha;

    .photo:hover &{
      //color: $color-alpha;
    }
  }
}

//----------------------------------------------
//  Polaroid
//-----------------------------------------------
.photo:not(.-polaroid) .photo__scaler {
  border-radius: $base-border-radius;
}

.photo.-polaroid .photo__bg,
.photo.-polaroid .photo__link {
  padding: 1.5em 1.5em 2.5em;
  margin-bottom: $pad-sm/2;
  background: #f9f9f9;
  box-shadow: 1px 2px 6px -1px rgba(0,0,0,0.2);
}
