//--------------------------------------------
// Site Menu
//--------------------------------------------
.vid-card {
  padding: $pad-sm 0;

  &.-full {
    padding: $pad 0;
  }
  .-is-vid-archive & {
    padding: $pad-xs;
  }

  &__link {
    z-index: 9;
    position: relative;
    display: flex;
    align-items: center;
    place-content: center;
    height: 25em;
    cursor: pointer;

    //@include as_ratio_pseudo(1025, 567);

    .-full & {
      height: 30em;
    }
  }

  &__bg {
    @include bg-img-abs(0);
  }

  &__bg, &__bg-vid {
    border-radius: $base-border-radius;
    transform: scale(1);
    transition: transform .3s ease-in-out;

    &:after {
      @include pseudo_el();
      background-color: rgba($color-grey-dark, 0.3);
    }

    .vid-card__link:hover &, a:hover &{
      transform: scale(.97);
    }
  }
  &__scaler {
    height: 100%;
    transform: scale(1);
    transition: transform .3s ease-in-out;

    .vid-card__link:hover &, a:hover &{
      transform: scale(1.2);
      transition: transform .3s ease-in-out;
    }
  }
}
