//----------------------------------------------
//  Work Feed / Grid
//----------------------------------------------
// .work-feed{
//   background-color: $color-lightgrey;
//   &__grid{
//     @include flex-grid(1, 2, 2, 3, $pad: 2.5em, $align:center);
//     @include flex-grid-animation(1, 2, 2, 3);
//   }
// }

//----------------------------------------------
//  Work Single Items
//----------------------------------------------
.card{
  //animation-name: fade-up;
 //transform: translateY(20%);


  &__link{
    display: block;
    min-width: 100%;
    margin-bottom: $mb * 2;
    pointer-events:none;
    cursor: pointer;
    transition: transform 1s;
    transform: translate3d(0,20%,0);

    .is-animated &{
      pointer-events:auto;
      transform: translate3d(0,0%,0);
      transition: transform 1s;
    }
  }

  // Image Wrap
  &__figure{
    z-index: 4;
    position: relative;
    margin-bottom: $mb;
    overflow:hidden;
    transform: scale(1);
    transition: transform .3s ease-in-out;

    .card__link:hover &{
      transform: scale(.97);
    }
  }

  &__scaler{
      transform: scale(1.5);
      transition: transform 1s;
      pointer-events: none;
      visibility: hidden;

    .is-animated &{
      pointer-events:auto;
      visibility: visible;
      transform: scale(1);
      animation: scale-down 1s ease both;
    }
  }

  &__img{
    display: block;
    width: 100%;
    transform: scale(1);
    transition: transform .3s ease-in-out;
    //transition: transform 1s;
    //@include img-crisper;

    .card__link:hover &{
      transform: scale(1.1) !important;
      transition: transform .3s ease-in-out;
    }
  }


  &__vid-scale{
    overflow: hidden;
  }
  // Video Wrap
  &__vid-wrap{
    z-index: 5;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    margin-bottom: $mb;
    padding-bottom: 90%;
    transform: scale(1);
    transition: transform .3s ease-in-out;
    //@include bg_overlay(#111, 0.4);

    .card__link:hover &{
      transform: scale(.95);
    }

    .card__scaler{
      //height: 20em;
    }
  }

  &__vid{
    z-index: -1;
    position: absolute;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%,-50%) scale(1);
    transform: scale(1);
    width: auto;
    margin: 0 auto;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    height: 30em;
    min-height: 100%;
    object-fit:cover;
    transition: transform .3s ease-in-out;

    .card__link:hover &{
      //transform: scale(1.15) translate(-50%,-50%);
      transform: scale(1.2);
      transition: transform .3s ease-in-out;
    }
  }


  &__title{
    font-weight: 400;
    margin-bottom: $mb/2;
    color: $color-darkgrey;
  }

  &__text{
    color: $color-grey;
  }

  &__cats{
    color: $color-grey;
    font-size: $font-xsmall;
  }


.card__header.js-scroll .oh{
  display: block;
  overflow-y: hidden;
  padding: 0.02em 0;
  //animation: slide-up;
}

.card__header.js-scroll .oh span{
  display: inline-block;
  //animation: slide-up;
  transform:translate3d(0,140%,0);
  opacity: 0;
  transition: transform 0.9s ease, opacity 0.8s ease;
}
.card__header.is-animated.js-scroll .oh span{
  transform:translate3d(0,0%,0);
  opacity: 1;
  transition: transform 0.6s 0.2s ease-in-out, opacity 0.3s 0.2s ease;
}

.card__header.js-scroll.is-animated .card__subtitle .oh span{
  transition-delay:0.15s;
}

}
