//--------------------------------------------
// Content Regions
// Includes general type styles for content
// heavy elements
//--------------------------------------------
.content {

  h2 {
    @extend %font-title;
    margin-bottom: $pad-xs/2;
  }

  h3, h4 {
    @extend %font-subtitle;
  }
  h4 {
    color: $color-grey;
  }

  h5 {
    @extend %font-heading
  }

  p + * {
    margin-top: 1.5em;
  }

  blockquote {
    font-family: $font-header;
    @include font-rwd($font-med, 1.5em);
    color: $color-grey-dark;
    @media (min-width: $mq-med) {
      margin: 1em -15%;
    }

    cite {
      display: block;
      margin: $pad-xs 0 0 ;
      font-family: $font-paragraph;
      font-size: $font-xs;
      font-style: normal;

      &:before {
        content: '— ';
      }
    }
  }
}
