.filters {
  padding: $pad-sm 0;

  &__nav {
    @include flex-row(
    $v-align:center,
    $h-align:center,
    $mobile:true
    )
  }

  &__nav a, &__nav span {
    position: relative;
    display: inline-block;
    margin: 0 1em;
    @include links($color-grey, $color-alpha);
    font-style: italic;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width:100%;
      height: 2px;
      background-color: $color-alpha;
      transform: translate3d(-101%,0,0);
      transition: transform .4s cubic-bezier(.58,.3,.005,1);
    }
  }

  &__nav a:hover:after {
    transform: translate3d(0,0,0);
  }

  &__nav a.is-active {
    &:after {
      transform: translate3d(0,0,0);
    }
  }
}

.filters.is-sticky {
  z-index: $z-sticky;
  position: fixed;
  top: $site-header-height;
  width: 100%;
}

.heading + .sticky-wrap > .filters,
.heading + .filters {
  padding-top: 0;
}
