.heading {
  text-align: center;

  &__date {
    display: block;
    margin: 0 0 $pad-xs;
  }
  &__title {
    @extend %font-title-page;
    margin-bottom: 0;
  }

  &__link {
    @extend .btn;
    font-size: $font-base;
    font-style: normal;
  }
}


.heading + .content {
    padding-top: $pad-sm;
}
