//--------------------------------------------
// Padding Helpers
//--------------------------------------------
.pad {
  padding: $pad 0;
}

.pad-sm {
  padding: $pad-sm 0;
}

.pad-lg {
  padding: $pad-lg 0;
}

.pad-xl {
  padding: $pad-xl 0;
}

.pad-b {
  padding-top: 0;
  padding-bottom: $pad;
}

.pad-b-lg {
  padding-top: 0;
  padding-bottom: $pad-lg;
}

.pad-t {
  padding-top: $pad;
  padding-bottom: 0;
}

.pad-t-lg {
  padding-top: $pad-lg;
  padding-bottom: 0;
}

.no-pad {
  padding: 0;
}

.is-overflow-hidden {
  overflow: hidden;
  width: 100%;
}

.is-hidden {
  display: none;
}

.fade-out{
  animation: fade-out 1s ease both;
}

//--------------------------------------------
// Color Helpers
//--------------------------------------------
.color-alpha {
  color: $color-alpha;
}

.bg-white {
  background-color: $color-white;
}

.bg-grey-light {
  background-color: $color-grey-light;
}

.bg-grey-dark {
  background-color: $color-grey-dark;

  & > *, a, h2,h3,h4,h5 {
    color: #fff !important;
  }
}

.page-bg-grey-dark {
  background-color: $color-grey-dark;

  .u-menu-toggle__bars, .u-menu-toggle__bars:after, .u-menu-toggle__bars:before {
    background-color: #fff;

    .menu-is-open & {
      background-color: $color-grey-dark !important;
    }
  }
  & main {
    background-color: $color-grey-dark;
    * {
       color: #fff;
   }
  }
}

//--------------------------------------------
// Alignment Helpers
//--------------------------------------------
.text-center{
  text-align: center;
}

//--------------------------------------------
// Visibility Helpers
//--------------------------------------------
.is-hidden {
  display: none !important;
}

.is-visually-hidden {
  position: absolute !important;
  left: -9999px !important;
  height: 1px;
  width: 1px;
  clip: rect(0,0,0,0);
  overflow: hidden;
}

.no-interaction {
  pointer-events: none !important;
}

//--------------------------------------------
// Hide Line Breaks
//--------------------------------------------
%no-breaks,
.no-breaks {

  br {
    display: none;
  }
}

%no-breaks-med,
.no-breaks-med {

  br {
    @media (max-width: $mq-med) {
      display: none;
    }
  }
}


.sep{
  display: block;
  border:0;
  height: 1px;
  width: 8em;
  background-color: $color-dark;
  margin: 3em 0;
}
