//----------------------------------------------
// Main PageWrapper
//----------------------------------------------
img.attachment-featured-thumbnail.size-featured-thumbnail.wp-post-image {
    display: block;
    width: 100%;
    max-width: 8em;
    display: block;
}
